section.userpfpDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section.userpfpDiv > div {
    padding: 15px;
}

section.userpfpDiv > div * {
    width: min-content;
}   